* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
*:hover,
*:focus,
*:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img.resp {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img,
.google-maps img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/* Paths */
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSansBold.woff") format("woff");
  src: url("../fonts/OpenSansBold.woff2") format("woff2"), url("../fonts/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #101114;
}
.b-btn {
  min-width: 173px;
  height: 40px;
  display: block;
  border-radius: 3px;
  border: none;
  background: #98c100;
  box-shadow: inset 0 0 0;
  text-align: center;
  color: #ffffff;
  font-family: 'OpenSansBold', sans-serif;
  font-size: 14px;
  line-height: 40px;
  vertical-align: middle;
  padding: 0 20px;
  transition: opacity 0.5s;
}
.b-btn:hover,
.b-btn:focus {
  opacity: .7;
}
@media (max-width: 480px) {
  .b-btn {
    width: 100%;
  }
}
.navigation {
  width: 318px;
  float: left;
  margin-right: 2px;
}
.navigation__logo {
  height: 162px;
  background: #1f2229;
  padding: 64px 29px;
}
.navigation__logo-img {
  width: 176px;
  height: 36px;
  display: block;
  background: url('../images/logo.png') no-repeat center;
  background-size: contain;
}
.navigation__item {
  display: block;
  background: #1f2229;
  border-top: 1px solid #2a2d37;
  color: #FFF;
  font-size: 18px;
  line-height: 1;
  font-family: 'OpenSansBold', sans-serif;
  text-decoration: none;
  padding: 28px 29px;
  transition: background 0.5s, color 0.5s;
}
.navigation__item._active {
  background: #2a2d37;
  color: #808592;
}
.navigation__item._dark {
  background: #191c24;
  color: #808592;
}
.navigation__item:hover,
.navigation__item:focus {
  background: #2a2d37;
  color: #808592;
}
@media (max-width: 1024px) {
  .navigation {
    display: none;
  }
}
@media (max-width: 768px) {
  .mob-menu {
    display: block;
  }
}
@media (max-width: 480px) {
  .mob-menu {
    display: block;
  }
}
@media (max-width: 320px) {
  .mob-menu {
    display: block;
  }
}
.content {
  width: 640px;
  float: left;
  background: #f7f8f8;
}
.content__header {
  min-height: 162px;
  background-color: #00aeef;
  padding: 43px 30px 30px;
}
.content__header-description {
  width: 432px;
  font-size: 14px;
  line-height: 1.43;
}
.content__block {
  padding: 45px 30px 50px;
}
.content__footer {
  background-color: #373c43;
  color: #89909d;
  padding: 12px 30px 20px;
}
@media (max-width: 1024px) {
  .content {
    float: none;
    width: auto;
  }
  .content__header-description {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .content__header {
    min-height: auto;
    padding: 35px 20px 25px;
  }
  .content__header-description {
    font-size: 13px;
    line-height: 1.3;
  }
  .content__block {
    padding: 25px 20px 30px;
  }
  .content__footer {
    padding: 10px 20px 15px;
  }
}
@media (max-width: 320px) {
  .content__header {
    padding: 25px 20px 20px;
  }
  .content__block {
    padding: 15px 20px 20px;
  }
}
.payment__info {
  margin-bottom: 30px;
}
.payment__info-title {
  font-size: 16px;
  line-height: 1.31;
  color: #8494ab;
  margin-bottom: 18px;
}
.payment__info-row {
  font-size: 16px;
  line-height: 1.31;
  margin-bottom: 7px;
}
.payment__info-row:last-child {
  margin-bottom: 0;
}
.payment__info-row-title {
  width: 155px;
  display: inline-block;
  color: #8494ab;
}
.payment__info-row-val {
  display: inline-block;
  color: #373c43;
}
.payment__card {
  width: 350px;
  height: 236px;
  background: #f7f8f8;
  position: relative;
  border: 1px solid #e4e9ee;
  border-radius: 10px;
  padding: 22px 15px 13px 13px;
}
.payment__card._front {
  z-index: 15;
}
.payment__card._back {
  z-index: 5;
  margin: -215px 0 14px 213px;
  padding-top: 82px;
}
.payment__card._back:before {
  content: '';
  width: 100%;
  height: 42px;
  background: #e4e9ee;
  position: absolute;
  left: 0;
  top: 23px;
}
.payment__card-number {
  margin-bottom: 12px;
}
.payment__card-date {
  margin-bottom: 12px;
}
.payment__card-code {
  width: 138px;
  margin-left: auto;
}
.payment__card-code-inner {
  position: relative;
}
.payment__form-label {
  display: block;
  font-size: 16px;
  line-height: 1.31;
  color: #8494ab;
  margin-bottom: 4px;
}
.payment__form-input {
  height: 42px;
  background-color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  border: solid 1px #e4e9ee;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 10px;
  transition: border-color 0.5s;
}
.payment__form-input._small {
  width: 65px;
  margin-right: 6px;
}
.payment__form-input._small:last-child {
  margin-right: 0;
}
.payment__form-input.error {
  border-color: #d9534f;
}
.payment__form-input._all-width {
  width: 100%;
}
.payment__form-input:-moz-placeholder {
  color: #bec6cf;
  font-size: 16px;
}
.payment__form-input:-ms-input-placeholder {
  color: #bec6cf;
  font-size: 16px;
}
.payment__form-input::-webkit-input-placeholder {
  color: #bec6cf;
  font-size: 16px;
}
.payment__form-select {
  display: inline-block;
  margin-right: 6px;
}
.payment__form-select:last-child {
  margin-right: 0;
}
.payment__form-select select {
  min-width: 70px;
  height: 42px;
  background-color: #ffffff;
  line-height: 42px;
  border: solid 1px #e4e9ee;
  border-radius: 0;
  padding: 0 0 0 10px;
  background-image: url('../images/icons/arrow-down.png');
  background-position: right 8px center;
  background-repeat: no-repeat;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.payment__form-select .chosen-container-single .chosen-single {
  min-width: 70px;
  height: 42px;
  background-color: #ffffff;
  line-height: 42px;
  box-shadow: none;
  border: solid 1px #e4e9ee;
  border-radius: 0;
  padding: 0 0 0 15px;
}
.payment__form-select .chosen-container-single .chosen-single span {
  font-size: 16px;
  color: #373c43;
  margin-right: 35px;
}
.payment__form-select .chosen-container-single .chosen-single div {
  width: 35px;
}
.payment__form-select .chosen-container-single .chosen-single div b {
  background: url('../images/icons/arrow-down.png') no-repeat center;
  background-size: 16px 8px;
}
.payment__form-select .chosen-container-single .chosen-drop {
  border: solid 1px #e4e9ee;
  border-radius: 0;
  box-shadow: none;
}
.payment__form-select .chosen-container-single .chosen-drop .chosen-results {
  max-height: 120px;
  margin: 0;
  padding: 0;
}
.payment__form-select .chosen-container-single .chosen-drop .chosen-results li {
  font-size: 16px;
  line-height: 1.2;
  padding: 5px 5px 5px 15px;
}
.payment__form-select .chosen-container-single .chosen-drop .chosen-results li.highlighted {
  background: #00aeef;
}
.payment__form-question {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: none;
  background: url('../images/icons/question.png') no-repeat center;
  background-size: contain;
  position: absolute;
  top: 9px;
  right: 9px;
  padding: 0;
  transition: opacity 0.5s;
}
.payment__form-question:hover,
.payment__form-question:focus {
  opacity: .5;
}
@media (max-width: 660px) {
  .payment__card._back {
    margin: 15px 0;
  }
}
@media (max-width: 480px) {
  .payment__info {
    margin-bottom: 20px;
  }
  .payment__card {
    width: 100%;
  }
  .payment__form-input {
    padding: 0 7px;
    font-size: 14px;
  }
  .payment__form-input._small {
    width: 54px;
  }
}
@media (max-width: 320px) {
  .payment__info-title {
    margin-bottom: 15px;
  }
  .payment__info-row-title {
    width: 100%;
    display: block;
  }
  .payment__info-row-val {
    width: 100%;
    display: block;
  }
}
.grid {
  width: 960px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 50px 0;
  *zoom: 1;
}
.grid:before,
.grid:after {
  display: table;
  content: "";
  line-height: 0;
}
.grid:after {
  clear: both;
}
h1 {
  font-size: 35px;
  line-height: 1.2;
  font-family: 'OpenSansBold', sans-serif;
  margin: 0 0 8px;
}
h2 {
  font-size: 22px;
  line-height: 1.2;
  font-family: 'OpenSansBold', sans-serif;
  margin: 0 0 22px;
}
p {
  margin: 10px 0;
}
@media (max-width: 1024px) {
  .grid {
    width: auto;
    padding: 20px;
  }
}
@media (max-width: 480px) {
  .grid {
    padding: 0;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 18px;
  }
}
.mob-menu {
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  transition: background-color 1s, -webkit-transform 0s 1s;
  transition: transform 0s 1s, background-color 1s;
  transition: transform 0s 1s, background-color 1s, -webkit-transform 0s 1s;
  text-align: right;
}
.mob-menu._show {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 1s, -webkit-transform 0s;
  transition: transform 0s, background-color 1s;
  transition: transform 0s, background-color 1s, -webkit-transform 0s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  overflow: auto;
}
.mob-menu._show .mob-menu__inner {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.mob-menu__back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.mob-menu__inner {
  width: 270px;
  height: 100%;
  display: inline-block;
  background: #1f2229;
  position: relative;
  z-index: 2;
  -webkit-transform: translate(9999px, 0);
      -ms-transform: translate(9999px, 0);
          transform: translate(9999px, 0);
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.mob-menu__item {
  display: block;
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  border-top: 1px solid #2a2d37;
  text-decoration: none;
  text-align: left;
  padding: 15px 20px;
}
.mob-menu__item:first-child {
  border-top: 0;
}
.mob-menu__item._active {
  background: #2a2d37;
  color: #808592;
}
.mob-menu__item:hover,
.mob-menu__item:focus {
  background: #2a2d37;
  color: #808592;
}
@media (max-width: 1024px) {
  .mob-menu {
    display: block;
  }
}
.header {
  display: none;
  margin-bottom: 20px;
}
.header__inner {
  *zoom: 1;
}
.header__inner:before,
.header__inner:after {
  display: table;
  content: "";
  line-height: 0;
}
.header__inner:after {
  clear: both;
}
.header__logo {
  width: 176px;
  height: 36px;
  display: inline-block;
  background: url('../images/logo.png') no-repeat center;
  background-size: contain;
}
.header__menu {
  display: none;
}
.header__menu-btn {
  width: 36px;
  height: 36px;
  display: inline-block;
  float: right;
  position: relative;
  background-color: transparent;
  transition: background-color 0.5s, -webkit-transform 1s;
  transition: background-color 0.5s, transform 1s;
  transition: background-color 0.5s, transform 1s, -webkit-transform 1s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  border: none;
  padding: 0;
}
.header__menu-btn._active {
  -webkit-transform: translate(-270px, 0);
      -ms-transform: translate(-270px, 0);
          transform: translate(-270px, 0);
  background-color: #101114;
}
.header__menu-btn._active .header__menu-btn-ico-bar._1:after {
  width: 0;
  transition: width 0.3s;
}
.header__menu-btn._active .header__menu-btn-ico-bar._2:after {
  width: 100%;
  transition: width 0.3s 0.7s;
}
.header__menu-btn._active .header__menu-btn-ico-bar._3:after {
  width: 0;
  transition: width 0.3s 0.4s;
}
.header__menu-btn._active .header__menu-btn-ico-bar._4:after {
  width: 100%;
  transition: width 0.3s 0.8s;
}
.header__menu-btn._active .header__menu-btn-ico-bar._5 {
  width: 0;
}
.header__menu-btn._active .header__menu-btn-ico-bar._5:after {
  width: 0;
  transition: width 0.3s 0.2s;
}
.header__menu-btn-ico {
  width: 28px;
  height: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -14px;
  margin-top: -12px;
}
.header__menu-btn-ico-bar {
  width: 100%;
  height: 4px;
  margin-top: 5px;
}
.header__menu-btn-ico-bar:after {
  width: 100%;
  height: 4px;
  display: block;
  content: '';
  background-color: white;
  transition: background-color 0.5s;
}
.header__menu-btn-ico-bar._1 {
  margin-top: 0;
}
.header__menu-btn-ico-bar._1:after {
  transition: width 0.3s 0.7s;
}
.header__menu-btn-ico-bar._2 {
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}
.header__menu-btn-ico-bar._2:after {
  width: 0;
  transition: width 0.3s 0.1s;
}
.header__menu-btn-ico-bar._3:after {
  transition: width 0.3s 0.4s;
}
.header__menu-btn-ico-bar._4 {
  position: absolute;
  top: 50%;
  margin-top: -5px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}
.header__menu-btn-ico-bar._4:after {
  width: 0;
  transition: width 0.3s;
}
.header__menu-btn-ico-bar._5:after {
  transition: width 0.3s 0.5s;
}
@media (max-width: 1024px) {
  .header {
    display: block;
  }
}
@media (max-width: 480px) {
  .header {
    margin: 20px;
  }
  .header__menu-btn._active {
    -webkit-transform: translate(-250px, 0);
        -ms-transform: translate(-250px, 0);
            transform: translate(-250px, 0);
  }
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}
.t-a-c {
  text-align: center;
}
.overflow-hidden {
  overflow: hidden;
  height: 100%;
}

/*# sourceMappingURL=styles.css.map */
