// CSS Reset
@import "reset.less";
// mixins
@import "mixins.less";
// variables
@import "variables.less";
//fonts
@import "fonts.less";


body{
	font-family: 'Arial', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
}

//@import "blocks/header.less";
//@import "blocks/footer.less";
//END

// Utility classes
@import "utilities.less"; // Has to be last to override when necessary
