/* Paths */
@pathToImg : "../images/";
@pathToFonts : "../fonts/";


@animTime: 0.5s;

@font-family-base: 'Roboto', sans-serif;
@font-size-base: 1.4rem;
@line-height-base: 16/14;


@cBlue: #00aeef;
@cGray: #373c43;
@cDarkGrey: #1f2229;
