.payment{
	&__info{
		margin-bottom: 30px;
		&-title{
			font-size: 16px;
			line-height: 1.31;
			color: #8494ab;
			margin-bottom: 18px;
		}
		&-row{
			font-size: 16px;
			line-height: 1.31;
			margin-bottom: 7px;
			&:last-child{
				margin-bottom: 0;
			}
			&-title{
				width: 155px;
				display: inline-block;
				color: #8494ab;
			}
			&-val{
				display: inline-block;
				color: #373c43;
			}
		}
	}
	&__card{
		width: 350px;
		height: 236px;
		background: #f7f8f8;
		position: relative;
		border: 1px solid #e4e9ee;
		border-radius: 10px;
		padding: 22px 15px 13px 13px;
		&._front{
  	  z-index: 15;
		}
		&._back{
  	  z-index: 5;
			margin: -215px 0 14px 213px;
		  padding-top: 82px;
			&:before{
				content: '';
				width: 100%;
				height: 42px;
				background: #e4e9ee;
				position: absolute;
		    left: 0;
		    top: 23px;
			}
		}
		&-number{
			margin-bottom: 12px;
		}
		&-date{
			margin-bottom: 12px;
		}
		&-name{

		}
		&-code{
			width: 138px;
			margin-left: auto;
			&-inner{
				position: relative;
			}
		}
	}
	&__form{
		&-label{
			display: block;
			font-size: 16px;
			line-height: 1.31;
			color: #8494ab;
			margin-bottom: 4px;
		}
		&-input{
			height: 42px;
			background-color: #ffffff;
			font-size: 16px;
			text-transform: uppercase;
			border: solid 1px #e4e9ee;
			appearance: none;
			padding: 0 10px;
			&._small{
				width: 65px;
				margin-right: 6px;
				&:last-child{
					margin-right: 0;
				}
			}
			&._all-width{
				width: 100%;
			}
			&:-moz-placeholder {
				color: #bec6cf;
				font-size: 16px;
			}
			&:-ms-input-placeholder {
				color: #bec6cf;
				font-size: 16px;
			}
			&::-webkit-input-placeholder {
				color: #bec6cf;
				font-size: 16px;
			}
		}
		&-select{
			display: inline-block;
			margin-right: 6px;
			&:last-child{
				margin-right: 0;
			}
			select{
				min-width: 70px;
				height: 42px;
				background-color: #ffffff;
				line-height: 42px;
				border: solid 1px #e4e9ee;
				border-radius: 0;
				padding: 0 0 0 10px;
				background-image: url('@{pathToImg}icons/arrow-down.png');
				background-position: right 8px center;
				background-repeat: no-repeat;
				appearance: none;
			}
			.chosen-container-single{
				.chosen-single{
					min-width: 70px;
					height: 42px;
					background-color: #ffffff;
					line-height: 42px;
					box-shadow: none;
					border: solid 1px #e4e9ee;
					border-radius: 0;
					padding: 0 0 0 15px;
					span{
						font-size: 16px;
						color: #373c43;
						margin-right: 35px;
					}
					div{
						width: 35px;
						b{
							background: url('@{pathToImg}icons/arrow-down.png') no-repeat center;
							background-size: 16px 8px;
						}
					}
				}
				.chosen-drop{
					border: solid 1px #e4e9ee;
					border-radius: 0;
					box-shadow: none;
					.chosen-results{
						max-height: 120px;
						margin: 0;
						padding: 0;
						li{
							font-size: 16px;
							line-height: 1.2;
							padding: 5px 5px 5px 15px;
							&.highlighted{
								background: @cBlue;
							}
						}
					}
				}
			}
		}
		&-question{
			width: 23px;
			height: 23px;
			border-radius: 50%;
			border: none;
			background: url('@{pathToImg}icons/question.png') no-repeat center;
			background-size: contain;
			position: absolute;
			top: 9px;
	    right: 9px;
			padding: 0;
			transition: opacity @animTime;
			&:hover, &:focus{
				opacity: .5;
			}
		}
	}
}

@media (max-width:660px){
	.payment{
		&__card{
			&._back{
			  margin: 15px 0;
			}
		}
	}
}

@media (max-width:480px){
	.payment{
		&__info{
  	  margin-bottom: 20px;
		}
		&__card{
			width: 100%;
		}
		&__form{
			&-input{
				padding: 0 7px;
				font-size: 14px;
				&._small{
				  width: 54px;
				}
			}
		}
	}
}

@media (max-width:320px){
	.payment{
		&__info{
			&-title{
				margin-bottom: 15px;
			}
  	  &-row{
				&-title{
					width: 100%;
					display: block;
				}
				&-val{
					width: 100%;
					display: block;
				}
			}
		}
	}
}
